:ruby
  attrs = %w(default_gear_size scalable init_git_url aliases)

%section
  %h1.divide
    = @application.name
    %small
      %span.pull-right= @application.uuid

  - attrs.each do |attr|
    %div
      %span= attr.to_s.upcase + ": "
      %span= @application.send(attr)

%secion
  %h2.divide Domain
  = link_to @domain.namespace, domain_path(@domain.namespace)

%section
  %h2.divide Gear Groups
  .row-fluid
    = render :partial => 'admin_console/gear_group/tile', :collection => @group_instances, :as => :gear_group

